  <div class="container">
    <div class="row-question">
      <br>
       <ul class="list-group col-lg-3" style="width: 600px;">
          <li class="list-group-item">
              <i class="fa fa-calendar"></i>
                 <%= @post_question.created_at.strftime('%Y/%m/%d/%H:%M') %>
          </li>
          <li class="list-group-item">
            <b>タイトル：<%= @post_question.title %></b>
          </li>
          <li class="list-group-item">
              <%= simple_format(@post_question.body) %>
          </li>
          <li class="list-group-item">
                  <%= link_to user_path(@post_question.user.id) do %>
                     <%= attachment_image_tag @post_question.user, :profile_image, class: "img-circle profile-img", fallback: "no-image.jpg", size: "30x30" %>
                  <% end %>
                  <%= link_to @post_question.user.name,user_path(@post_question.user.id) %>からの質問
                  <% if @post_question.user == current_user %>(
                    <%= link_to "編集する", edit_post_question_path(@post_question) %>/
                    <%= link_to "削除する", post_question_path(@post_question), data: { confirm: "削除します。宜しいですか?" }, method: :delete %>)
                  <% end %>
          </li>
       </ul>
             <!-- 回答の表示 -->
          <br>
              <p><b class="answer-count"><%= @post_question.answers.count %>件の回答</b></p>
            <% @post_question.answers.each do |answer| %>
            <div class="col-sm-2">
              <div class="thumbnail">
                 <%= link_to user_path(@post_question.user.id) do %>
                    <%= attachment_image_tag answer.user, :profile_image, class: "img-circle profile-img", fallback: "no-image.jpg", size: "50x70" %>
                 <% end %>
              </div>
            </div>
        <div class="col-sm-10">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong><%= link_to @post_question.user.name,user_path(@post_question.user.id) %></strong>
              <span><%= @post_question.created_at.strftime('%Y/%m/%d/%H:%M') %></span>
              <% if answer.user == current_user %>
                <%= link_to "削除", post_question_answers_path(id: answer,post_question_id: @post_question), data: { confirm: "回答を消去します。宜しいですか?" }, method: :delete %>
              <% end %>
            </div>
            <div class="panel-body"><%= answer.answer %></div>
          </div>
        </div>
        <% end %>

           <!-- 回答投稿フォーム -->
           <div class="section-title-wrapper style-1 v1 mt-30" id="divAddAnswer">
            <h3 class="section-title left">
              <span>回答する</span>
            </h3>
           </div>
               <%= form_for [@post_question, @answer] do |f| %>
                 <div class="row">
                  <div class="col-sm-12">
                    <%= f.text_area :answer, rows:'5', class: "form-control",placeholder: "回答をここに" %>
                  </div>
                 </div>
                <%= f.submit " 投稿 ", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
               <% end %>


    </div>
  </div>