<div class="container">
   <div class="row">
      <div class="col-md-4 col-md-offset-4">
         <div class="form-user style-1 rounded has-shadow-1">
            <div class="form-header text-center">
               <h3 class="profile-name">
                 <p><%= @user.name %>
                  <% if user_signed_in? %>
                   <% if current_user != @user %>
                     <% if @user.followed_by?(current_user) %>
                       <%=link_to "フォロー解除", user_relationships_path(@user.id), method: :delete, class:"btn btn-default", :style=>"width: 120px;" %>
                     <% else %>
                       <%=link_to "フォローする", user_relationships_path(@user.id), method: :post, class:"btn btn-primary", :style=>"width: 120px;" %>
                     <% end %>
                   <% end %>
                  <% end %>
                 </p>
               </h3>
                 <p><%= attachment_image_tag @user, :profile_image, class: "img-circle pull-left profile-img", fallback: "no-image.jpg", size: "150x150" %></p>
                 <% if user_signed_in? %>
                   <p><%=link_to "フォロー", follows_user_path(@user.id) %><%= @user.followings.count %>人 / <%=link_to "フォロワー", followers_user_path(@user.id) %><%= @user.followers.count %>人</p>
                 <% else %>
                   <p><%=link_to "フォロー", follows_user_path(@user.id) %><%= @user.followings.count %>人 / <%=link_to "フォロワー", followers_user_path(@user.id) %><%= @user.followers.count %>人</p>
                 <% end %>
                 <p><%= simple_format(@user.introduction) %></p>
                 <% if user_signed_in? %>
                   <% if @user.id == current_user.id %>
                     <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-warning", :style=>"width: 200px;" %></p>
                   <% end %>
                 <% end %>
            </div>
         </div>
      </div>
   </div>
</div>
<br>
<div class="container">
  <div class="row">
    <ul class="tab">
        <li class="active">
            <span class="glyphicon glyphicon-picture" aria-hidden="true"> 写真</span></li>
        <li><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"> 動画</span></li>
        <% if @user == current_user %>
        <li><span class="glyphicon glyphicon-comment" aria-hidden="true"> 質問</span></li>
        <li><span class="glyphicon glyphicon-picture" aria-hidden="true"> フォロー中</span></li>
        <li><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"> フォロー中</span></li>
       <% end %>
    </ul>

      <div class="tabContent active">
            <h3 class="title">投稿写真一覧</h3>
                 <div class="post_images" style="text-align: center; margin-left: 20px;">
                  <% @user.post_images.reverse_order.each do |image| %>
                      <div class="col-lg-3" style="width: 280px;">
                      <%= link_to post_image_path(image.id) do %>
                         <%= attachment_image_tag image, :image, class: "profile-thumb", size: "220x220" %>
                      <% end %>
                        <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><%= image.likes.count %>
                          <span class="glyphicon glyphicon-comment" aria-hidden="true"><%= image.image_comments.count %></span>
                          <%= "(#{time_ago_in_words(image.created_at)}前)" %>
                        </p>
                      </div>
                  <% end %>
                 </div>
      </div>

      <div class="tabContent">
            <h3 class="title">投稿動画一覧</h3>
               <div class="post_movies" style="text-align: center; margin-left: 20px;">
                  <% @user.post_movies.reverse_order.each do |movie| %>
                   <ul class="list-group col-lg-3" style="width: 380px;">
                     <li class="list-group-item">
                       <div class="post-movies">
                        <%= link_to movie.video_url.to_s do %>
                          <i class="fa fa-play-circle"></i>
                           <%= image_tag(movie.video_url(:screenshot).to_s, id: "video", :alt => "screenshot", style: "height:13em;") %>
                        <% end %>
                       </div>
                     </li>
                       <li class="list-group-item"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                           <%= movie.movie_likes.count %>
                       <span class="glyphicon glyphicon-comment" aria-hidden="true">
                           <%= movie.movie_comments.count %></span>
                       <i class="fa fa-user"></i>
                           <%= link_to movie.user.name,user_path(movie.user.id) %></li>
                     <li class="list-group-item"><%= link_to "詳細", post_movie_path(movie.id) %><%= "(#{time_ago_in_words(movie.created_at)}前)" %></li>
                    </ul>
                  <% end %>
               </div>
      </div>

      <div class="tabContent">
            <h3 class="title">質問一覧</h3>
               <div class="post_questions" style="text-align: center; margin-left: 20px;">
                 <% @user.post_questions.reverse_order.each do |question| %>
                   <ul class="list-group col-lg-3" style="width: 380px;">
                      <li class="list-group-item list-group-item-warning"><b>タイトル：</b><%= link_to question.title, post_question_path(question.id) %></li>
            <li class="list-group-item" style="text-align: center;"><%= question.answers.count %>件の回答</li>
            <li class="list-group-item" style="text-align: center;"><%= question.created_at.strftime('%Y/%m/%d') %></li>
                   </ul>
                 <% end %>
               </div>
      </div>

      <div class="tabContent">
            <h3 class="title">フォローしているユーザーの投稿写真一覧</h3>
                 <div class="post_images" style="text-align: center; margin-left: 20px;">
                  <% @users.each do |user| %>
                    <% user.post_images.reverse_order.each do |image| %>
                       <div class="col-lg-3" style="width: 280px;">
                        <%= link_to post_image_path(image.id) do %>
                           <%= attachment_image_tag image, :image, class: "profile-thumb", size: "220x220" %>
                        <% end %>
                          <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><%= image.likes.count %>
                             <span class="glyphicon glyphicon-comment" aria-hidden="true"><%= image.image_comments.count %></span>
                             <i class="fa fa-user"></i>
                             <%= link_to image.user.name,user_path(image.user.id) %>
                            <%= "(#{time_ago_in_words(image.created_at)}前)" %>
                          </p>
                       </div>
                    <% end %>
                  <% end %>
                 </div>
      </div>
      <div class="tabContent">
            <h3 class="title">フォローしているユーザーの投稿動画一覧</h3>
                 <div class="post_movies" style="text-align: center; margin-left: 20px;">
                  <% @users.each do |user| %>
                   <% user.post_movies.reverse_order.each do |movie| %>
                     <ul class="list-group col-lg-3" style="width: 380px;">
                       <li class="list-group-item">
                          <%= link_to movie.video_url.to_s do %>
                             <%= image_tag(movie.video_url(:screenshot).to_s, id: "video", :alt => "screenshot", style: "height:13em;") %>
                          <% end %>
                       </li>
                         <li class="list-group-item"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                             <%= movie.movie_likes.count %>
                         <span class="glyphicon glyphicon-comment" aria-hidden="true">
                             <%= movie.movie_comments.count %></span>
                         <i class="fa fa-user"></i>
                             <%= link_to movie.user.name,user_path(movie.user.id) %></li>
                       <li class="list-group-item"><%= link_to "詳細", post_movie_path(movie.id) %><%= "(#{time_ago_in_words(movie.created_at)}前)" %></li>
                      </ul>
                    <% end %>
                  <% end %>
                 </div>
      </div>

   </div>
</div>

<script>
$(function() {
    $(".tab li").click(function() { //タブをクリックしたときのファンクションをまとめて指定
        var num = $(".tab li").index(this); //.index()を使いクリックされたタブが何番目かを調べ、numという変数に代入

        $(".tabContent").removeClass('active'); //コンテンツを一度すべて非表示

        $(".tabContent").eq(num).addClass('active'); //クリックされたタブと同じ順番のコンテンツを.activeをクラスに追加して表示

        $(".tab li").removeClass('active'); //一度タブについているクラス.activeを消して

        $(this).addClass('active') //クリックされたタブのみにクラス.activeをつける
    });
});
</script>
