	<div class="container">
		<div class="row">
		  <h1><%= @categories.category_name %></h1>
			<div class="post_images" style="text-align: center; margin-left: 20px;">
      			<% @categories.post_images.each do |image| %>
        			<ul class="list-group col-lg-3" style="width: 230px;">
						<li class="list-group-item"><%= attachment_image_tag image, :image, class: "profile-thumb", size: "180x180" %></li>
						<li class="list-group-item"><%= image.title %></li>
						<li class="list-group-item"><%= image.caption %></li>
						<li class="list-group-item"><%= link_to "詳細", post_image_path(image.id) %></li>
					</ul>
        		<% end %>
        	</div>
		</div>
	</div>
