<body>
	<div class="container">
		<div class="row">
		  <div class="col-lg-2">
			<div class="box">
               <span class="box-title">カテゴリ別</span>
				  <% @categories.each do |category| %>
					 <ul>
				        <li><%= link_to category.category_name,'/category/'+category.id.to_s+'/post_images' %></li>
					 </ul>
				  <% end %>
            </div>
          </div>
         <div class="col-lg-10">
          <h3>人気投稿</h3>
			<div class="post_images" style="text-align: center; margin-left: 25px;">
			  <% @all_ranks.each do |image| %>
        	      <div class="col-lg-3" style="width: 300px;">
				     	 <%= link_to post_image_path(image.id) do %>
				     	   <%= attachment_image_tag image, :image, class: "profile-thumb", size: "250x250" %>
				     	 <% end %>
				     	<p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><%= image.likes.count %>
				     		<span class="glyphicon glyphicon-comment" aria-hidden="true"><%= image.image_comments.count %></span>
				     		<i class="fa fa-user"></i>
                            <%= link_to image.user.name,user_path(image.user.id) %>
				     	</p>
				  </div>
        	  <% end %>
            </div>
          <div>
           <h3>投稿写真一覧(新着順)</h3>
			 <div class="post_images" style="text-align: center; margin-left: 25px;">
			  <div class="image-list jscroll">
      			<% @post_images.each do |image| %>
        			<div class="col-lg-3" style="width: 300px;">
				     	 <%= link_to post_image_path(image.id) do %>
				     	   <%= attachment_image_tag image, :image, class: "profile-thumb", size: "250x250" %>
				     	 <% end %>
				     	<p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><%= image.likes.count %>
				     		<span class="glyphicon glyphicon-comment" aria-hidden="true"><%= image.image_comments.count %></span>
				     		<i class="fa fa-user"></i>
                            <%= link_to image.user.name,user_path(image.user.id) %>
				     	</p>
					</div>
        		<% end %>
        		<%= paginate @post_images, class: "paginate" %>
              </div>
             </div>
         </div>
		</div>
	</div>
  </div>
</body>

<script>
$(function() {
    $('.jscroll').jscroll({
    	contentSelector: '.image-list',
      nextSelector: 'span.next:last a'
    });
});
</script>
