<!DOCTYPE html>
<html>
  <head>
    <title>SHIBAcafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
                <div class="col-sm-4">
                  <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>

                  <div class="navbar-brand">
                    <a href="/">SHIBAcafe</a>
                  </div>
                </div>

                  <div class="clearfix col-sm-8">
                    <div class="collapse navbar-collapse"  id="navbarEexample8">
                      <div class="navbar-right">
                      <% if user_signed_in? %>
                      <ul class="nav navbar-nav" style="margin-top:5px;">
                      <li class="btn-group">
                         <button type="button" class="btn btn-default">
                                投稿する
                         </button>
                         <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                         </button>
                           <ul class="dropdown-menu" role="menu">
                               <li role="presentation"><a role="menuitem" tabindex="-1" href="post_images/new">写真を投稿</a></li>
                               <li role="presentation"><a role="menuitem" tabindex="-1" href="post_movies/new">動画を投稿</a></li>
                               <li role="presentation"><a role="menuitem" tabindex="-1" href="post_questions/new">質問を投稿</a></li>
                           </ul>
                      </li>
                      <li><%= link_to "マイページ",user_path(current_user.id) %></li>
                      <li><%= link_to "通知" %></li>
                      <li><%= link_to "_ログアウト", destroy_user_session_path, :method => :delete, class: "glyphicon glyphicon-log-out , text-muted" %></li>
                     </ul>
                  <% else %>
                     <ul class="nav navbar-nav" style="margin-top:5px;">
                      <li><%=link_to "_新規会員登録", new_user_registration_path, class: "glyphicon glyphicon-log-in , text-muted" %></li>
                      <li><%=link_to "_ログイン", new_user_session_path, class: "glyphicon glyphicon-home , text-muted" %></li>
                     </ul>
                  <% end %>
                     </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
    </header>

    <%= yield %>

  <footer class="footer style-2">
    <div class="container">
      <div class="row">
          <div class="footer-store-info col-lg-12" style="margin-top: 10px; text-align: center;">
            <p>CopyRight SHIBAcafe.inc</p>
        </div>
      </div>
    </div>
  </footer>

  </body>
</html>
