<!DOCTYPE html>
<html>
  <head>
    <title>SHIBAcafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!-- トップへ戻るボタン -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
　　<div id="page_top"><a href="#"></a></div>

  <body>
   <div class="main-visual">
     <p>柴犬づくし。 </p>
     <header class="clearfix">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
                <div class="col-sm-4">
                  <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>

                  <div class="navbar-brand">
                    <a href="/"><%= image_tag 'logologo.png', size:'200x55' %></a>
                  </div>
                </div>

                  <div class="clearfix col-sm-8">
                    <div class="collapse navbar-collapse"  id="navbarEexample8">
                      <div class="navbar-right">
                      <% if user_signed_in? %>
                      <br>
                      <ul class="nav navbar-nav" style="margin-top:5px;">
                        <li><a href="#">投稿する</a>
                          <ul>
                            <li><%= link_to "写真を投稿",new_post_image_path %></li>
                            <li><%= link_to "動画を投稿",new_post_movie_path %></li>
                            <li><%= link_to "質問を投稿",new_post_question_path %></li>
                          </ul>
                        </li>
                        <li><%= link_to "マイページ",user_path(current_user.id) %>
                          <ul>
                            <li><%= link_to "アカウント編集/退会",edit_user_registration_path(current_user.id) %></li>
                          </ul>
                        </li>
                        <li class="notification-item"><%= link_to '通知', notifications_path, class:"btn"  %>
                            <% if current_user.uncheck_notifications? %>
                               <!-- <i class="fa fa-circle notification-circle"> -->
                                <!-- </i> -->
                                <div class="circle">
                                <div class="notice-count">
                                   <%= current_user.passive_notifications.where(check: false).count %>
                                 </div>
                                </div>
                              <% end %>
                        </li>
                            
                        <li><%= link_to "ログアウト", destroy_user_session_path, :method => :delete %></li>
                      </ul>
                      <% else %>
                       <br>
                        <ul class="nav navbar-nav" style="margin-top:5px;">
                          <li><%=link_to "新規会員登録", new_user_registration_path %></li>
                          <li><%=link_to "ログイン", new_user_session_path %></li>
                        </ul>
                      <% end %>
                     </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
    </header>
  </div>
             <div class="container">
                <div class="row">
                  <nav id="globalNavi">
                   <br>
                    <ul>
                      <li><%= link_to "写真を見る",post_images_path %></li>
                      <li><%= link_to "動画を見る",post_movies_path %></li>
                      <li><%= link_to "質問コーナー",post_questions_path %></li>
                    </ul>
                  </nav>
                </div>
             </div>

    <%= yield %>

  <footer class="footer style-2">
    <div class="container">
      <div class="row">
          <div class="footer-store-info col-lg-12" style="margin-top: 10px; text-align: center;">
            <p>CopyRight SHIBAcafe.inc</p>
        </div>
      </div>
    </div>
  </footer>

  </body>
</html>

<script>
//トップへ戻るボタン
jQuery(function() {
  var appear = false;
  var pagetop = $('#page_top');
  $(window).scroll(function () {
    if ($(this).scrollTop() > 150) {  //100pxスクロールしたら
      if (appear == false) {
        appear = true;
        pagetop.stop().animate({
          'right': '50px' //右から0pxの位置に
        }, 300); //0.3秒かけて現れる
      }
    } else {
      if (appear) {
        appear = false;
        pagetop.stop().animate({
          'right': '-50px' //右から-50pxの位置に
        }, 300); //0.3秒かけて隠れる
      }
    }
  });
  pagetop.click(function () {
    $('body, html').animate({ scrollTop: 0 }, 500); //0.5秒かけてトップへ戻る
    return false;
  });
});

// ヘッダーナビ
$(function() {
var nav = $('.nav');
$('li', nav)
.mouseover(function(e) {
$('ul', this).stop().slideDown('fast');
})
.mouseout(function(e) {
$('ul', this).stop().slideUp('fast');
});
});
</script>
